/* Top players style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}
.top-part{
    width: 870px;
    height: 679px;
    background: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    left: 285px;
    top: 130px;
}
.player-title{
    margin: 33px;
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 30px;
}

.player{
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 29px;
    
}
.player img{
    width: 56px;
    height: 56px;
}
hr{
    width: 807px;
    border: 1px solid #D1D1D1
}